
.dark.nav-shadow{
    box-shadow: 0 4px 6px 0 rgba(255,255,255, 0.2), 0 6px 16px 0 rgba(255, 255, 255, 0.1);
}
.nav-shadow{
    box-shadow: 0 4px 6px 0 rgba(0,0,0, 0.2), 0 6px 16px 0 rgba(0,0,0, 0.1);
}

.search-input{
    border: 1px solid #fff;
    padding: 0;
    display: flex;
    margin: 0;
}
.search-input input{
    width: 90%;
    height: 100%;
    padding: 10px 15px;
    background-color: transparent;
    outline: none;
    color: #000;
    border: none;
}
.search-input input:focus{
    outline: none;
    box-shadow: none;
}
.search-input button{
    height: 100%;
    margin: 0;
    border: none;
}
.genre-link{
    color: #fff;
}
.genre-link:hover{
    color: #DF0E62;
}
@media (max-width:640px){
    .search-input input{
        width: 80%;
    }
    .search-input button{
        width: 10%;

    }
}